.btn {
	border-radius: 3rem;
	padding: 1rem 4rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;

	&--white {
		background-color: $c-white;
		color: $c-default;
	}

	&--rose {
		background-color: $c-default;
		color: $c-white;
	}
}