@mixin spanImg($px) {
	position: absolute;
	width: 7rem;
	height: 7rem;

	img {
		width: 100%;
		height: 100%;
	}

	top:$px;
}

@mixin deliciousImg($top, $left, $img) {
	content: "";
	position: absolute;
	display: inline-block;
	top: $top;
	left: $left;
	width: 12rem;
	height: 10rem;
	background-image: url("../img/delicious/#{$img}.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}